{% extends 'base.html' %}
{% block content %}

<h1 class="grey-text">Record Sleeve</h1>
<hr />

<div class="row black-text">
    <div class="col s6">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">{{ record.artist }}</span>
                <p>Album: {{ record.album }}</p>
                <p>Released: {{ record.released }}</p>
                <div class="card-action">
                    <a href="{% url 'records_update' record.id %}">Edit</a>
                    <a href="{% url 'records_delete' record.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card hoverable">
            <div class="card-content">
                <form action="{% url 'add_listening' record.id %}" method="post">
                    {% csrf_token %}
                    {{ listening_form.as_p }}
                    <input type="submit" class="btn pulse" value="Add listening">
                </form>
                    <table class="striped">
                        <thead>
                            <tr><th>Last Played</th><th>Format</th></tr>
                        </thead>
                        <tbody>
                            {% for listening in record.listening_set.all %}
                            <tr>
                                <td>{{listening.date}}</td>
                                <td>{{listening.get_medium_display}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row grey-text">
    <div class="col s6">
      <h3>Where {{ record.album }} is available</h3>
      {% if record.distributors.count %}
        {% for distributor in record.distributors.all %}
        <div class="card hoverable">
            <div class="card-content">
              <span class="card-title">
              <p>Distributed by: {{distributor.name}} </p>
              <p>Website: {{distributor.website}}</p>
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'unassoc_dist' record.id distributor.id %}" method="post">
                  {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No longer available!</h5>
      {% endif %}
    </div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
      <h3>Available distributors</h3>
      {% if distributors.count %}
        {% for distributor in distributors.all %}
        <div class="card hoverable">
            <div class="card-content">
              <span class="card-title">
                    <p>Distributed by: {{distributor.name}} </p>
                    <p>Website: <a href="{{distributor.website}}">{{distributor.website}}</a></p>
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_dist' record.id distributor.id %}" method="post">
                  {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{record.album}} Is Available Everywhere!</h5>
      {% endif %}
    </div>
  </div>
  

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const selectEl = document.getElementById('id_medium');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}