{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Record Collector</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body class="records">
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper #ff8a65 deep-orange lighten-2">
          <ul>
            <li>
              <a href="/" class="left brand-logo"
                >&nbsp;&nbsp;Record Collector</a
              >
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'records_create' %}">Add a record</a></li>
            <li><a href="{% url 'index' %}">View Record Collection</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <footer class="page-footer #ff8a65 deep-orange lighten-2">
      <div class="right">
        All Rights Reserved, &copy; 2020 Record Collector &nbsp;
      </div>
      <a
        style="
          background-color: black;
          color: white;
          text-decoration: none;
          padding: 4px 6px;
          font-family: -apple-system, BlinkMacSystemFont, 'San Francisco',
            'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial,
            sans-serif;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.2;
          display: inline-block;
          border-radius: 3px;
        "
        href="https://unsplash.com/@minkmingle?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
        target="_blank"
        rel="noopener noreferrer"
        title="Download free do whatever you want high-resolution photos from Mink Mingle"
        ><span style="display: inline-block; padding: 2px 3px;"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            style="
              height: 12px;
              width: auto;
              position: relative;
              vertical-align: middle;
              top: -2px;
              fill: white;
            "
            viewBox="0 0 32 32"
          >
            <title>unsplash-logo</title>
            <path
              d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"
            ></path></svg></span
        ><span style="display: inline-block; padding: 2px 3px;"
          >Mink Mingle</span
        ></a
      >
    </footer>
    <script>
      M.AutoInit();
    </script>
  </body>
</html>
